html,
body {
  font-family: 'AcuminPro', sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: #F4ECEB !important;
}

a:hover {
  text-decoration: none !important;
}

.carousel {
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'GeneralGrotesque', sans-serif !important;
}

#__next {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@font-face {
  font-family: "GeneralGrotesque";
  src: url("/fonts/GeneralGrotesque/GeneralGrotesqueMono-XBold.ttf");
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "AcuminPro";
  src: url("/fonts/AcuminPro/Acumin-RPro.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}